button {
  padding: 20px;

  text-transform: uppercase;
  font-weight: 700;
  color: darkblue;
  background-color: wheat;

  border: 1px solid gold;
  border-radius: 10px;

}

p {
  display: block;
  padding: 10px;
  max-height: 50px;
  max-width: 300px;

  color: darkblue;
  background-color: wheat;
  text-transform: uppercase;
  font-weight: 500;

  border-radius: 10px;

  outline: 1px solid gold;
}

.disabled {
  color: rosybrown;
  background-color: grey;
}